<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
	<style type="text/css">
		.body{
  position: absolute;
  top:  -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg?crop=1.00xw:1.00xh;0,0&resize=980:*);
  background-size: cover;
  /*-webkit-filter: blur(5px);*/
  z-index: 0;
		}

		
	</style>
</head>
<body>
	<div class="body"></div>
	<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Housing Solutions</h1>
  <br><br>
<p>
  This is a one-stop solution for realtors and House hunters. Click on the button to get started!
</p>
  <br>
  <a href="/login" class="btn btn-lg btn-primary", style='color:#FFFFFF;' >Get Started!</a>
</div>
</body>
</html>