 
 <!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 	<style type="text/css">
    body{
  position: absolute;
  top:  -20px;
  left: -20px;
  right: -40px;
  bottom: 0px;
  width: auto;
  height: auto;
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg?crop=1.00xw:1.00xh;0,0&resize=980:*");
  background-size: cover;
  /*-webkit-filter: blur(5px);*/
  z-index: 0
    }
  </style>
 </head>
 <body>
 <h1>Editing Search</h1>

<%= render 'form', search: @search %>

<%= link_to 'Show', @search %> |
<a href="javascript:history.back()">Back</a>
 </body>
 </html>
